################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIkarate/.vs/APIkarate/FileContentIndex
